html, body{
	margin:0;
	padding:0;
	font-family: monospace;
	height:100%;
	width:100%;
	overflow: hidden;

}

#Status.up{
	color: green;
}
#Status.down{
	color: red;
}
#Status.starting{
	color: yellow;
}
#Status.unknown{
	color: grey;
}
header ,section{
	display: block;
}

h4, h2{
	height: 2em;
	margin: 0;
}

li, ol{
	padding-left: 0px;
    list-style-type: none;
    width: 100%;
    margin: 0;
}

li:nth-child(odd){
	background-color: lightgrey;
}

ol{
	position: absolute;
	overflow: auto;
	bottom: 0px;
	top: 2em;
}

#Chat ol{
	top: initial;
	max-height: 100%;
}

.left, .right{
	position: absolute;
	padding: 0;
	overflow: hidden;
}
.right{
	left: 201px;
	right: 0px;
}
.left{
	width: 200px;
}
.top.right{
	height:60px;
	top:0px;
	border-bottom: 1px solid black;
}
.top.left{
	top:0px;
	bottom: 201px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.bottom.left{
	height: 200px;
	bottom: 0px;
	border-right: 1px solid black;
}
.bottom.right{
	top:61px;
	bottom:5px;
}
#Toggle{
	height: 1em;
	top: 0px;
	border-top: 1px solid black;
	width: 100%;
}
.hidden{
	display: none;
}
#Controls{
	min-height: 1em;
	bottom: 0px;
}