html, body{
	margin:0;
	padding:0;
	font-family: monospace;
	height:100%;
	width:100%;
	overflow: hidden;
}
#Status.up{
	color: green;
}
#Status.down{
	color: red;
}
#Status.starting{
	color: yellow;
}
#Status.unknown{
	color: grey;
}
h4, h2{
	height: 2em;
	margin: 0;
	padding-left: 5px;
}
li{
	padding-left: 5px;
}
ol{
	padding-left: 0px;
    list-style-type: none;
    width: 100%;
    margin: 0;
}
li:nth-child(odd), #Chat{
	background-color: #D4DADE;
}
ol{
	position: absolute;
	overflow: auto;
	bottom: 0px;
	top: 2em;
	background-color: #D3D8DC;
}
#Chat ol{
	top: initial;
	max-height: 100%;
}
.left, .right{
	position: absolute;
	padding: 0;
	overflow: hidden;
}
.right{
	left: 215px;
	right: 0px;
	background-color: #CFD4D8;
}
.left{
	width: 215px;
	z-index: 10;
	background-color: #C5CACD;
}
.top.right{
	height:60px;
	top:0px;
}
.top.left{
	top:0px;
	bottom: 215px;
	overflow: hidden;
}
.bottom.left{
	height: 215px;
	bottom: 0px;
	font-size: small;
}
.bottom.right{
	top:60px;
	bottom:1em;
}
.bottom.left:after, .bottom.right:after, .top.right:after, #Controls:after{
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	overflow: hidden;
	display: block;
	pointer-events:none;
}
.bottom.right:after{
	box-shadow: inset 12px 12px 4px -12px black;
}
.bottom.left:after{
	box-shadow: inset 0px 12px 4px -12px   black;
}
.top.right:after, #Controls:after{
	box-shadow: inset 12px 0px 4px -12px black;
}
#Toggle{
	position:relative;
	height: 1em;
	top: 0px;
	width: 100%;
	line-height: 1em;
}
.hidden{
	display: none;
}
#Controls{
	position: absolute;
	min-height: 1em;
	width: 100%;
	bottom: 0px;
	box-shadow: 0px 12px 4px 12px black;
	overflow-x: hidden;
	padding-left: 5px;
}